In [ ]:
import pandas as pd
attd=pd.read_csv("Attendance.csv")
attDF=pd.DataFrame(attd)

attDF

   ID               Name  Roll_no Department       Time        Date   Status
0   1  Keshav Raj Poudel   171346    Computer  12:04:01  04/10/2021  Present
1   1  Keshav Raj Poudel   171346    Computer  12:21:21  28/12/2021  Present
2   1  Keshav Raj Poudel   171346    Computer  12:34:21  29/12/2021  Present
3   2    Nipesh Shrestha    13422          IT  10:30:21  04/10/2022  Present
4   2    Nipesh Shrestha    13422          IT  10:30:21  06/10/2022  Present

In [ ]:
presentStatus=attDF["ID"].value_counts()

In [ ]:
presentStatus[2]

In [ ]:
recordDF=pd.DataFrame(columns=['ID','Name','Roll Number','Number of Present Days'])
for index, row in attDF.iterrows():
    for id in attDF['ID'].unique():
        if(row["ID"])==id:
            data={'ID':row['ID'], 'Name':row['Name'],'Roll Number':row["Roll_no"], 'Number of Present Days': presentStatus[id]}
            print(data)
            recordDF=recordDF.append(data, ignore_index=True)

{'ID': 1, 'Name': 'Keshav Raj Poudel', 'Roll Number': 171346, 'Number of Present Days': 3}
{'ID': 1, 'Name': 'Keshav Raj Poudel', 'Roll Number': 171346, 'Number of Present Days': 3}
{'ID': 1, 'Name': 'Keshav Raj Poudel', 'Roll Number': 171346, 'Number of Present Days': 3}
{'ID': 2, 'Name': 'Nipesh Shrestha', 'Roll Number': 13422, 'Number of Present Days': 2}
{'ID': 2, 'Name': 'Nipesh Shrestha', 'Roll Number': 13422, 'Number of Present Days': 2}

In [ ]:
recordDF.drop_duplicates(subset =["ID"], inplace = True)
recordDF

In [ ]:
recordDF.to_csv("MonthlyReport.csv", index=False)

In [ ]:
pd.read_csv("MonthlyReport.csv")